{# Tool description for get_gdc_acceptable_values #}
Returns the acceptable values and their descriptions for a given attribute in the GDC (Genomic Data Commons) standard.

Use this to check what values are valid for a target attribute when correcting value mappings.

Args:
    attribute (str): The name of the attribute/column in the GDC target schema.

Returns:
    str: returns a list of acceptable values (and their descriptions) for the given attribute in the GDC standard
