{# Tool description for get_gdc_acceptable_values #}
Returns the acceptable values for a given column in the GDC (Genomic Data Commons) standard.

This is useful for checking what values can be used as target values when mapping to the GDC schema.

Args:
    column (str): The name of the variable/column in the GDC target schema.

Returns:
    str: returns a list of acceptable values (and their descriptions) for the given column in the GDC standard
